<!DOCTYPE html>
<html>
    <head>
        <title>Login Form</title>
    </head>
    <body>
        <h2>登录界面</h2><br>
        <div class="login">
            <form action="/Hall" method="POST">
                <label><b>用户名:</b></label>
                <input type="text" name="Name" id="Name" maxlength="100" placeholder="Enter Username or Email">
                <br><br>
                <label><b>密码：</b></label>
                <input type="Password" name="Password" id="Password" placeholder="Enter your Password">
                <br><br>
                <input type="submit" value="登录">
            </form>
        </div>
    </body>
</html>